In [43]:
import pandas as pd
import numpy as np
import collections

In [44]:
space_data = pd.read_csv('space.csv', sep=';')

In [45]:
space_data

       Num Company Name  ...    Cost Status Mission
0        0       SpaceX  ...   50.00        Success
1        1         CASC  ...   29.75        Success
2        2       SpaceX  ...    0.00        Success
3        3    Roscosmos  ...   65.00        Success
4        4          ULA  ...  145.00        Success
...    ...          ...  ...     ...            ...
4319  4319      US Navy  ...    0.00        Failure
4320  4320         AMBA  ...    0.00        Success
4321  4321      US Navy  ...    0.00        Failure
4322  4322    RVSN USSR  ...    0.00        Success
4323  4323    RVSN USSR  ...    0.00        Success

[4324 rows x 8 columns]

 Apresente a porcentagem de quantas missões deram certo;

In [46]:
status_mission = np.array(space_data['Status Mission'])
status_mission

array(['Success', 'Success', 'Success', ..., 'Failure', 'Success',
       'Success'], dtype=object)

In [47]:
#é possível usar o numpy.unique, mas a manipulação se torna mais fácil
#com a biblioteca collections
'''
status, count = np.unique(status_mission, return_counts=True)
status, count
'''



status = collections.Counter(status_mission)
status

Counter({'Failure': 339,
         'Partial Failure': 102,
         'Prelaunch Failure': 4,
         'Success': 3879})

In [48]:
sucess_missions = status['Success']
total_missions = sum(status.values())
percent = (sucess_missions/total_missions)*100

print('porcentagem de missões que deram certo:{:.2f}%'.format(percent))

porcentagem de missões que deram certo:89.71%

 Qual é a média de gastos de uma missão espacial se baseando em missões que possuam valores disponíveis ( > 0)?

In [50]:
valores = np.array(space_data[' Cost'])
valores

array([50.  , 29.75,  0.  , ...,  0.  ,  0.  ,  0.  ])

In [66]:
missions_above_zero = np.count_nonzero(valores != 0)
missions_above_zero

964

In [67]:
total_cost = sum(valores)
total_cost

148255.6800000001

In [64]:
mean =  total_cost/ missions_above_zero
mean

153.7921991701246

In [65]:
print('a média de gastos é de {:.2f}'.format(mean))

a média de gastos é de 153.79

Encontre quantas missões espaciais neste Dataset foram realizadas pelos Estados Unidos da América (EUA);

In [69]:
location = np.array(space_data['Location'])
location

array(['LC-39A Kennedy Space Center Florida USA',
       'Site 9401 (SLS-2) Jiuquan Satellite Launch Center China',
       'Pad A Boca Chica Texas USA', ...,
       'LC-18A Cape Canaveral AFS Florida USA',
       'Site 1/5 Baikonur Cosmodrome Kazakhstan',
       'Site 1/5 Baikonur Cosmodrome Kazakhstan'], dtype=object)

In [75]:
#tentativa com where falhou

countUSA = []
for i in range(0, len(location)):
  if 'USA' in location[i]:
    countUSA.append(i)

countUSA
len(countUSA)

1344

In [78]:
print('Missões feitas pelos EUA:', len(countUSA))

Missões feitas pelos EUA: 1344

Encontre qual foi a missão mais cara realizada pela empresa SpaceX;

In [80]:
spacex = space_data.drop(space_data.loc[space_data['Company Name'] != 'SpaceX'].index)
spacex

     Num Company Name  ...  Cost Status Mission
0      0       SpaceX  ...  50.0        Success
2      2       SpaceX  ...   0.0        Success
8      8       SpaceX  ...  50.0        Success
17    17       SpaceX  ...  50.0        Success
20    20       SpaceX  ...  50.0        Success
..   ...          ...  ...   ...            ...
763  763       SpaceX  ...   7.0        Success
800  800       SpaceX  ...   7.0        Success
808  808       SpaceX  ...   7.0        Failure
879  879       SpaceX  ...   7.0        Failure
929  929       SpaceX  ...   7.0        Failure

[100 rows x 8 columns]

In [85]:
cost_spacex = np.array(spacex[' Cost'])
cost_spacex

array([50. ,  0. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. ,
       50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 90. , 50. , 50. ,
       50. , 90. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. ,
       50. , 50. , 50. , 62. , 62. , 62. , 50. , 62. , 62. , 62. , 62. ,
       62. , 90. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. ,
       62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. ,
       62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 56.5, 62. , 56.5,
       56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5,
       56.5, 56.5, 59.5, 59.5, 59.5, 59.5, 59.5,  7. ,  7. ,  7. ,  7. ,
        7. ])

In [84]:
most_expensive = np.max(cost_spacex)
most_expensive

90.0

In [87]:
print('a missão mais cara da SpaceX custou:',most_expensive)

a missão mais cara da SpaceX custou: 90.0

Mostre o nome das empresas que já realizaram Missões Espaciais juntamente com suas respectivas quantidades de missões (use o for no final para mostrar as informações).

In [88]:
company = np.array(space_data['Company Name'])
company

array(['SpaceX', 'CASC', 'SpaceX', ..., 'US Navy', 'RVSN USSR',
       'RVSN USSR'], dtype=object)

In [89]:
status = collections.Counter(company)
status

Counter({'AEB': 3,
         'AMBA': 8,
         'ASI': 9,
         'Arianespace': 279,
         "Arm??e de l'Air": 4,
         'Blue Origin': 12,
         'Boeing': 136,
         'CASC': 251,
         'CASIC': 5,
         'CECLES': 4,
         'CNES': 8,
         'Douglas': 1,
         'EER': 1,
         'ESA': 13,
         'Eurockot': 13,
         'ExPace': 10,
         'Exos': 4,
         'General Dynamics': 251,
         'IAI': 11,
         'ILS': 46,
         'IRGC': 1,
         'ISA': 13,
         'ISAS': 30,
         'ISRO': 76,
         'JAXA': 7,
         'KARI': 3,
         'KCST': 5,
         'Khrunichev': 1,
         'Kosmotras': 22,
         'Land Launch': 7,
         'Landspace': 1,
         'Lockheed': 79,
         'MHI': 84,
         'MITT': 7,
         'Martin Marietta': 114,
         'NASA': 203,
         'Northrop': 83,
         'OKB-586': 2,
         'OneSpace': 1,
         'RAE': 2,
         'RVSN USSR': 1777,
         'Rocket Lab': 13,
         'Roscosmos': 55,
         'SRC': 3,
         'Sandia': 1,
         'Sea Launch': 36,
         'SpaceX': 100,
         'Starsem': 1,
         'ULA': 140,
         'US Air Force': 161,
         'US Navy': 17,
         'UT': 5,
         'VKS RF': 201,
         'Virgin Orbit': 1,
         'Yuzhmash': 2,
         'i-Space': 1})

In [90]:
for k, v in status.items():
  print(f'a empresa {k} já realizou {v} missões')

a empresa SpaceX já realizou 100 missões
a empresa CASC já realizou 251 missões
a empresa Roscosmos já realizou 55 missões
a empresa ULA já realizou 140 missões
a empresa JAXA já realizou 7 missões
a empresa Northrop já realizou 83 missões
a empresa ExPace já realizou 10 missões
a empresa IAI já realizou 11 missões
a empresa Rocket Lab já realizou 13 missões
a empresa Virgin Orbit já realizou 1 missões
a empresa VKS RF já realizou 201 missões
a empresa MHI já realizou 84 missões
a empresa IRGC já realizou 1 missões
a empresa Arianespace já realizou 279 missões
a empresa ISA já realizou 13 missões
a empresa Blue Origin já realizou 12 missões
a empresa ISRO já realizou 76 missões
a empresa Exos já realizou 4 missões
a empresa ILS já realizou 46 missões
a empresa i-Space já realizou 1 missões
a empresa OneSpace já realizou 1 missões
a empresa Landspace já realizou 1 missões
a empresa Eurockot já realizou 13 missões
a empresa Land Launch já realizou 7 missões
a empresa CASIC já realizou 5 missões
a empresa KCST já realizou 5 missões
a empresa Sandia já realizou 1 missões
a empresa Kosmotras já realizou 22 missões
a empresa Khrunichev já realizou 1 missões
a empresa Sea Launch já realizou 36 missões
a empresa KARI já realizou 3 missões
a empresa ESA já realizou 13 missões
a empresa NASA já realizou 203 missões
a empresa Boeing já realizou 136 missões
a empresa ISAS já realizou 30 missões
a empresa SRC já realizou 3 missões
a empresa MITT já realizou 7 missões
a empresa Lockheed já realizou 79 missões
a empresa AEB já realizou 3 missões
a empresa Starsem já realizou 1 missões
a empresa RVSN USSR já realizou 1777 missões
a empresa EER já realizou 1 missões
a empresa General Dynamics já realizou 251 missões
a empresa Martin Marietta já realizou 114 missões
a empresa Yuzhmash já realizou 2 missões
a empresa Douglas já realizou 1 missões
a empresa ASI já realizou 9 missões
a empresa US Air Force já realizou 161 missões
a empresa CNES já realizou 8 missões
a empresa CECLES já realizou 4 missões
a empresa RAE já realizou 2 missões
a empresa UT já realizou 5 missões
a empresa OKB-586 já realizou 2 missões
a empresa AMBA já realizou 8 missões
a empresa Arm??e de l'Air já realizou 4 missões
a empresa US Navy já realizou 17 missões