In [43]:
import pandas as pd
import numpy as np
import collections

In [44]:
space_data = pd.read_csv('space.csv', sep=';')

In [45]:
space_data

       Num Company Name  ...    Cost Status Mission
0        0       SpaceX  ...   50.00        Success
1        1         CASC  ...   29.75        Success
2        2       SpaceX  ...    0.00        Success
3        3    Roscosmos  ...   65.00        Success
4        4          ULA  ...  145.00        Success
...    ...          ...  ...     ...            ...
4319  4319      US Navy  ...    0.00        Failure
4320  4320         AMBA  ...    0.00        Success
4321  4321      US Navy  ...    0.00        Failure
4322  4322    RVSN USSR  ...    0.00        Success
4323  4323    RVSN USSR  ...    0.00        Success

[4324 rows x 8 columns]

 Apresente a porcentagem de quantas missÃµes deram certo;

In [46]:
status_mission = np.array(space_data['Status Mission'])
status_mission

array(['Success', 'Success', 'Success', ..., 'Failure', 'Success',
       'Success'], dtype=object)

In [47]:
#Ã© possÃ­vel usar o numpy.unique, mas a manipulaÃ§Ã£o se torna mais fÃ¡cil
#com a biblioteca collections
'''
status, count = np.unique(status_mission, return_counts=True)
status, count
'''



status = collections.Counter(status_mission)
status

Counter({'Failure': 339,
         'Partial Failure': 102,
         'Prelaunch Failure': 4,
         'Success': 3879})

In [48]:
sucess_missions = status['Success']
total_missions = sum(status.values())
percent = (sucess_missions/total_missions)*100

print('porcentagem de missÃµes que deram certo:{:.2f}%'.format(percent))

porcentagem de missÃµes que deram certo:89.71%

 Qual Ã© a mÃ©dia de gastos de uma missÃ£o espacial se baseando em missÃµes que possuam valores disponÃ­veis ( > 0)?

In [50]:
valores = np.array(space_data[' Cost'])
valores

array([50.  , 29.75,  0.  , ...,  0.  ,  0.  ,  0.  ])

In [66]:
missions_above_zero = np.count_nonzero(valores != 0)
missions_above_zero

964

In [67]:
total_cost = sum(valores)
total_cost

148255.6800000001

In [64]:
mean =  total_cost/ missions_above_zero
mean

153.7921991701246

In [65]:
print('a mÃ©dia de gastos Ã© de {:.2f}'.format(mean))

a mÃ©dia de gastos Ã© de 153.79

Encontre quantas missÃµes espaciais neste Dataset foram realizadas pelos Estados Unidos da AmÃ©rica (EUA);

In [69]:
location = np.array(space_data['Location'])
location

array(['LC-39A Kennedy Space Center Florida USA',
       'Site 9401 (SLS-2) Jiuquan Satellite Launch Center China',
       'Pad A Boca Chica Texas USA', ...,
       'LC-18A Cape Canaveral AFS Florida USA',
       'Site 1/5 Baikonur Cosmodrome Kazakhstan',
       'Site 1/5 Baikonur Cosmodrome Kazakhstan'], dtype=object)

In [75]:
#tentativa com where falhou

countUSA = []
for i in range(0, len(location)):
  if 'USA' in location[i]:
    countUSA.append(i)

countUSA
len(countUSA)

1344

In [78]:
print('MissÃµes feitas pelos EUA:', len(countUSA))

MissÃµes feitas pelos EUA: 1344

Encontre qual foi a missÃ£o mais cara realizada pela empresa SpaceX;

In [80]:
spacex = space_data.drop(space_data.loc[space_data['Company Name'] != 'SpaceX'].index)
spacex

     Num Company Name  ...  Cost Status Mission
0      0       SpaceX  ...  50.0        Success
2      2       SpaceX  ...   0.0        Success
8      8       SpaceX  ...  50.0        Success
17    17       SpaceX  ...  50.0        Success
20    20       SpaceX  ...  50.0        Success
..   ...          ...  ...   ...            ...
763  763       SpaceX  ...   7.0        Success
800  800       SpaceX  ...   7.0        Success
808  808       SpaceX  ...   7.0        Failure
879  879       SpaceX  ...   7.0        Failure
929  929       SpaceX  ...   7.0        Failure

[100 rows x 8 columns]

In [85]:
cost_spacex = np.array(spacex[' Cost'])
cost_spacex

array([50. ,  0. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. ,
       50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 90. , 50. , 50. ,
       50. , 90. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. ,
       50. , 50. , 50. , 62. , 62. , 62. , 50. , 62. , 62. , 62. , 62. ,
       62. , 90. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. ,
       62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. ,
       62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 56.5, 62. , 56.5,
       56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5,
       56.5, 56.5, 59.5, 59.5, 59.5, 59.5, 59.5,  7. ,  7. ,  7. ,  7. ,
        7. ])

In [84]:
most_expensive = np.max(cost_spacex)
most_expensive

90.0

In [87]:
print('a missÃ£o mais cara da SpaceX custou:',most_expensive)

a missÃ£o mais cara da SpaceX custou: 90.0

Mostre o nome das empresas que jÃ¡ realizaram MissÃµes Espaciais juntamente com suas respectivas quantidades de missÃµes (use o for no final para mostrar as informaÃ§Ãµes).

In [88]:
company = np.array(space_data['Company Name'])
company

array(['SpaceX', 'CASC', 'SpaceX', ..., 'US Navy', 'RVSN USSR',
       'RVSN USSR'], dtype=object)

In [89]:
status = collections.Counter(company)
status

Counter({'AEB': 3,
         'AMBA': 8,
         'ASI': 9,
         'Arianespace': 279,
         "Arm??e de l'Air": 4,
         'Blue Origin': 12,
         'Boeing': 136,
         'CASC': 251,
         'CASIC': 5,
         'CECLES': 4,
         'CNES': 8,
         'Douglas': 1,
         'EER': 1,
         'ESA': 13,
         'Eurockot': 13,
         'ExPace': 10,
         'Exos': 4,
         'General Dynamics': 251,
         'IAI': 11,
         'ILS': 46,
         'IRGC': 1,
         'ISA': 13,
         'ISAS': 30,
         'ISRO': 76,
         'JAXA': 7,
         'KARI': 3,
         'KCST': 5,
         'Khrunichev': 1,
         'Kosmotras': 22,
         'Land Launch': 7,
         'Landspace': 1,
         'Lockheed': 79,
         'MHI': 84,
         'MITT': 7,
         'Martin Marietta': 114,
         'NASA': 203,
         'Northrop': 83,
         'OKB-586': 2,
         'OneSpace': 1,
         'RAE': 2,
         'RVSN USSR': 1777,
         'Rocket Lab': 13,
         'Roscosmos': 55,
         'SRC': 3,
         'Sandia': 1,
         'Sea Launch': 36,
         'SpaceX': 100,
         'Starsem': 1,
         'ULA': 140,
         'US Air Force': 161,
         'US Navy': 17,
         'UT': 5,
         'VKS RF': 201,
         'Virgin Orbit': 1,
         'Yuzhmash': 2,
         'i-Space': 1})

In [90]:
for k, v in status.items():
  print(f'a empresa {k} jÃ¡ realizou {v} missÃµes')

a empresa SpaceX jÃ¡ realizou 100 missÃµes
a empresa CASC jÃ¡ realizou 251 missÃµes
a empresa Roscosmos jÃ¡ realizou 55 missÃµes
a empresa ULA jÃ¡ realizou 140 missÃµes
a empresa JAXA jÃ¡ realizou 7 missÃµes
a empresa Northrop jÃ¡ realizou 83 missÃµes
a empresa ExPace jÃ¡ realizou 10 missÃµes
a empresa IAI jÃ¡ realizou 11 missÃµes
a empresa Rocket Lab jÃ¡ realizou 13 missÃµes
a empresa Virgin Orbit jÃ¡ realizou 1 missÃµes
a empresa VKS RF jÃ¡ realizou 201 missÃµes
a empresa MHI jÃ¡ realizou 84 missÃµes
a empresa IRGC jÃ¡ realizou 1 missÃµes
a empresa Arianespace jÃ¡ realizou 279 missÃµes
a empresa ISA jÃ¡ realizou 13 missÃµes
a empresa Blue Origin jÃ¡ realizou 12 missÃµes
a empresa ISRO jÃ¡ realizou 76 missÃµes
a empresa Exos jÃ¡ realizou 4 missÃµes
a empresa ILS jÃ¡ realizou 46 missÃµes
a empresa i-Space jÃ¡ realizou 1 missÃµes
a empresa OneSpace jÃ¡ realizou 1 missÃµes
a empresa Landspace jÃ¡ realizou 1 missÃµes
a empresa Eurockot jÃ¡ realizou 13 missÃµes
a empresa Land Launch jÃ¡ realizou 7 missÃµes
a empresa CASIC jÃ¡ realizou 5 missÃµes
a empresa KCST jÃ¡ realizou 5 missÃµes
a empresa Sandia jÃ¡ realizou 1 missÃµes
a empresa Kosmotras jÃ¡ realizou 22 missÃµes
a empresa Khrunichev jÃ¡ realizou 1 missÃµes
a empresa Sea Launch jÃ¡ realizou 36 missÃµes
a empresa KARI jÃ¡ realizou 3 missÃµes
a empresa ESA jÃ¡ realizou 13 missÃµes
a empresa NASA jÃ¡ realizou 203 missÃµes
a empresa Boeing jÃ¡ realizou 136 missÃµes
a empresa ISAS jÃ¡ realizou 30 missÃµes
a empresa SRC jÃ¡ realizou 3 missÃµes
a empresa MITT jÃ¡ realizou 7 missÃµes
a empresa Lockheed jÃ¡ realizou 79 missÃµes
a empresa AEB jÃ¡ realizou 3 missÃµes
a empresa Starsem jÃ¡ realizou 1 missÃµes
a empresa RVSN USSR jÃ¡ realizou 1777 missÃµes
a empresa EER jÃ¡ realizou 1 missÃµes
a empresa General Dynamics jÃ¡ realizou 251 missÃµes
a empresa Martin Marietta jÃ¡ realizou 114 missÃµes
a empresa Yuzhmash jÃ¡ realizou 2 missÃµes
a empresa Douglas jÃ¡ realizou 1 missÃµes
a empresa ASI jÃ¡ realizou 9 missÃµes
a empresa US Air Force jÃ¡ realizou 161 missÃµes
a empresa CNES jÃ¡ realizou 8 missÃµes
a empresa CECLES jÃ¡ realizou 4 missÃµes
a empresa RAE jÃ¡ realizou 2 missÃµes
a empresa UT jÃ¡ realizou 5 missÃµes
a empresa OKB-586 jÃ¡ realizou 2 missÃµes
a empresa AMBA jÃ¡ realizou 8 missÃµes
a empresa Arm??e de l'Air jÃ¡ realizou 4 missÃµes
a empresa US Navy jÃ¡ realizou 17 missÃµes