In [5]:
import pandas as pd

In [7]:
microdadosEnem = pd.read_csv('MICRODADOS_ENEM_2019.csv', sep=';', encoding='ISO-8859-1')

In [8]:
microdadosEnem.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Columns: 136 entries, NU_INSCRICAO to Q025
dtypes: float64(25), int64(70), object(41)
memory usage: 16.0 GB

In [9]:
#a recomendação é filtrar antes de importar, quando o dataset for muito grande. é
#possivel encontrar o nome das colunas através do dicionário do dataset

In [10]:
colunas = ['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA','CO_UF_RESIDENCIA','SG_UF_RESIDENCIA', 'NU_IDADE']

In [11]:
microdadosEnemNovo = pd.read_csv('MICRODADOS_ENEM_2019.csv', sep=';', encoding='ISO-8859-1', usecols=colunas)

In [13]:
microdadosEnemNovo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   NU_INSCRICAO             int64
 1   NU_ANO                   int64
 2   CO_MUNICIPIO_RESIDENCIA  int64
 3   NO_MUNICIPIO_RESIDENCIA  object
 4   CO_UF_RESIDENCIA         int64
 5   SG_UF_RESIDENCIA         object
 6   NU_IDADE                 float64
dtypes: float64(1), int64(4), object(2)
memory usage: 855.9 MB

In [14]:
#diminuindo linhas (não recomendado)

In [16]:
microdadosEnemNovo2 = pd.read_csv('MICRODADOS_ENEM_2019.csv', sep=';', encoding='ISO-8859-1', nrows=10)

In [17]:
microdadosEnemNovo2

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001595656,2019,3552205,Sorocaba,35,SP,36,M,1,3,...,A,A,A,A,A,A,C,A,C,B
1,190001421546,2019,2910800,Feira de Santana,29,BA,23,M,1,1,...,A,A,A,B,A,A,E,A,A,B
2,190001133210,2019,2304400,Fortaleza,23,CE,39,F,1,3,...,A,A,A,B,A,A,C,A,A,B
3,190001199383,2019,1721000,Palmas,17,TO,25,F,1,1,...,A,A,A,C,A,B,D,A,B,B
4,190001237802,2019,3118601,Contagem,31,MG,22,F,1,1,...,B,A,A,B,A,A,C,B,B,B
5,190001782198,2019,5107602,Rondonópolis,51,MT,37,M,2,2,...,B,A,A,B,A,A,E,A,B,B
6,190001421548,2019,2924009,Paulo Afonso,29,BA,22,F,1,3,...,A,A,A,B,A,A,B,A,A,A
7,190001595657,2019,3550308,São Paulo,35,SP,20,M,1,3,...,B,A,A,B,A,A,C,A,A,B
8,190001592264,2019,3550308,São Paulo,35,SP,20,F,1,1,...,B,A,A,B,A,A,B,B,A,A
9,190001592266,2019,3550308,São Paulo,35,SP,17,M,1,1,...,B,A,A,B,A,B,C,B,B,B